{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>
      Intro to SceneView - Create a 3D map | Sample | ArcGIS API for JavaScript
      4.24
    </title>
    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;

      }
    </style>

    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.24/esri/themes/light/main.css"
    />

    <script src="https://js.arcgis.com/4.24/"></script>
    <!-- Terraformer -->
{% csrf_token %}
      <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
   <script src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
  {% block content %}
    <div id="viewDiv"></div>
  <div class="menu">
    <form method="post" action="/triangulate/" id="formdata">
      {% csrf_token %}
      <input type="datetime-local" name="datatime" required>
      <input type="submit" value="отправить">

    </form>
     <button class="but" id="delete-button">Удалить</button>

  </div>
  {% endblock %}
  </body>
</html>